openapi: 3.0.1
info:
  version: '1.0'
  title: QAD QIM APIs
  description: 'These APIs are for QAD QIM'
servers:
  - url: 'https://apigatewaydev.adient.com/qad-qim/v1'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/qad-qim/v1'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/qad-qim/v1'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /CollectTransactionObjects:
    put:
      summary: Collect Transaction Objects
      description: Collect Transaction Objects
      operationId: CollectTransactionObjects
      tags: 
        - Europe Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /CollectTransactionData:
    put:
      summary: Collect Transaction Data
      description: Collect Transaction Data
      operationId: CollectTransactionData
      tags: 
        - Europe Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /InboundStatus:
    get:
      summary: Inbound Status
      description: Inbound Status
      operationId: InboundStatus
      tags: 
        - Europe Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /PublishTableObjects:
    get:
      summary: Publish Table Objects 
      description: Publish Table Objects 
      operationId: PublishTableObjects
      tags: 
        - Europe Endpoints 
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"                    
  /InventoryTransfer:
    post:
      summary: Inventory Transfer
      description: Inventory Transfer
      operationId: InventoryTransfer
      tags: 
        - North America Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /PackTransfer:
    post:
      summary: Pack Transfer
      description: Pack Transfer
      operationId: PackTransfer
      tags: 
        - North America Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /Errors:
    put:
      summary: ReProcess Errors
      description: ReProcess Errors
      operationId: ReProcessErrors
      tags: 
        - North America Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
    delete:
      summary: Delete Errors
      description: Delete Errors
      operationId: DeleteErrors
      tags: 
        - North America Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /Status:
    get:
      summary: Check Status
      description: Check Status
      operationId: CheckStatus
      tags: 
        - North America Endpoints
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    region:
      in: query
      name: region
      required: true
      schema:
        type: string
        enum:
        - eu
        - na
      description: >-
        The Region for QAD - eu or na
security:
  - ApiKeyAuth: []
