openapi: 3.0.1
info:
  version: '1.0'
  title: QAD QIM APIs
  description: 'These APIs are for QAD QIM'
servers:
  - url: 'https://apigatewaydev.adient.com/qad-qim/v1'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/qad-qim/v1'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/qad-qim/v1'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /CollectTransactionObjects:
    put:
      summary: Collect Transaction Objects
      description: Collect Transaction Objects
      operationId: CollectTransactionObjects
      tags: 
        - Collect Transaction Objects
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /InboundStatus:
    get:
      summary: Inbound Status
      description: Inbound Status
      operationId: InboundStatus
      tags: 
        - Inbound Status
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"
  /PublishTableObjects:
    get:
      summary: Publish Table Objects 
      description: Publish Table Objects 
      operationId: PublishTableObjects
      tags: 
        - Publish Table Objects 
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Request parameter: region (eu or na)"                    
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    region:
      in: query
      name: region
      required: true
      schema:
        type: string
        enum:
        - eu
        - na
      description: >-
        The Region for QAD - eu or na
security:
  - ApiKeyAuth: []